# .env.example
# Set your environment variables in .env similar to this example file.

# To determine latitude/longitude, access the NWS website and search for your city.
# Example: https://forecast.weather.gov/MapClick.php?lat=39.1031&lon=-84.5120
latitude = 00.0000
longitude = -00.0000

# Set your city name. This will be used in the Teams message title.
city = "Cityville"

# Set your NWS office city and state. This is used in citing the forecast source.
nws_office_city = "Capitalcity"
nws_office_state = "State"

# Set your Microsoft Teams webhook URL to send messages to your Teams channel.
teams_webhook_url = "YOUR_WEBHOOK_URL_HERE"